<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.giginet.ghq-alfred-workflow</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1B1BF1B2-C21C-4CE3-BA21-9148885812B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D167BA90-E3A3-4882-838A-299E63CCE296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>439EDFE7-D0D2-4AAC-8C65-5280EF701B7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A6D55EB-FC52-4FFE-96BF-4469B8A20EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D167BA90-E3A3-4882-838A-299E63CCE296</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>giginet</string>
	<key>description</key>
	<string>Search and get repository on GHQ via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GHQ Alfred Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ghq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>export PATH="$HOME/go/bin:/usr/local/bin:/opt/brew/bin:$HOME/go/bin:$PATH"
python ghq.py "{query}"</string>
				<key>title</key>
				<string>Open repository via ghq</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>439EDFE7-D0D2-4AAC-8C65-5280EF701B7E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>3A6D55EB-FC52-4FFE-96BF-4469B8A20EEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ghq get {query} &amp;&amp; exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D167BA90-E3A3-4882-838A-299E63CCE296</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>ghq get</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>export PATH="$HOME/go/bin:/usr/local/bin:/opt/brew/bin:$HOME/go/bin:$PATH"
python ghq.py --get "{query}"</string>
				<key>subtext</key>
				<string>ghq get '...'</string>
				<key>title</key>
				<string>Get repository via ghq</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B1BF1B2-C21C-4CE3-BA21-9148885812B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B1BF1B2-C21C-4CE3-BA21-9148885812B9</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>3A6D55EB-FC52-4FFE-96BF-4469B8A20EEE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>439EDFE7-D0D2-4AAC-8C65-5280EF701B7E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D167BA90-E3A3-4882-838A-299E63CCE296</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/giginet/alfred-ghq-workflow</string>
</dict>
</plist>
